body {
  font-family: Arial;
  background-color: black;
  color: white;
  
}
.participantes {
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
div {
  border-bottom: 1px solid black;
  margin: 10px;
  padding-bottom: 10px;
  width: 260px;
}
.title {
  float: left
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
.radio-buttons label {
  float: none;
}
ul {
  list-style-type: none;
}

  
  